<p>stock-create works!</p>
<div class="card">
  <div class="card-header">Create a new magasin</div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="quantityStocke">quantityStocke:</label>
        <input id="quantityStocke" type="text" class="form-control"
               [(ngModel)]="stock.quantityStocke" name="quantityStocke">
      </div>

      <div class="form-group">
        <label for="produit_Libelle"> produit_Libelle </label>
        <select placeholder="name" name="produit" class="form-control" id="produit_Libelle"
                [(ngModel)]="stock.produit.libelle" name="produit_Libelle">
          <option *ngFor="let produit of produits" [value]="produit.libelle">{{produit.libelle}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="magasin_Libelle"> magasin_Libelle </label>
        <select placeholder="name" name="magasin" class="form-control" id="magasin_Libelle"
                [(ngModel)]="stock.magasin.libelle" name="magasin_Libelle">
          <option *ngFor="let magasin of magasins" [value]="magasin.libelle">{{magasin.libelle}}</option>
        </select>
      </div>

      <div>
        <button class="btn btn-success" type="submit">Save</button>
      </div>

    </form>
  </div>
</div>
