<div class="card">
  <div class="card-header">
    <h2>List magasin</h2>

  </div>
  <div class="card-body">

    <table class="table table-striped" *ngIf="magasins.length !=0">
      <thead>
      <tr>
        <th>  ID  </th>
        <th> Libelle</th>

        <th> Code </th>



      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let magasin of magasins ; index as i">
        <td>{{magasin.id}} </td>
        <td>{{magasin.libelle}}  </td>
        <td>{{magasin.code}}  </td>


        <td><span (click)="deleteMagasinByLibelle(magasin,i) " class="fa fa-trash btn btn-success"></span></td>
      </tr>


      </tbody>
    </table>
  </div>
</div>
<br>
<!---------------------list 2 ------------------------------->

<div class="card">
  <div class="card-header">
    <h2>List categories </h2>

  </div>
  <div class="card-body">

    <table class="table table-striped" *ngIf="categories.length !=0">
      <thead>
      <tr>
        <th> ID</th>
        <th> libelle</th>
        <th> code </th>



      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let categorie of categories ;index as i" >
        <td>{{categorie.id}}  </td>

        <td>{{categorie.libelle}}  </td>


        <td  >{{categorie.code }}  </td>

        <td> {{categorie.compteBudgetaire}} </td>
        <td><span (click)="deleteCategorieByLibelle(categorie ,i) " class="fa fa-trash btn btn-success"></span></td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
<br>

<!---------------------list 2 ------------------------------->

<div class="card">
  <div class="card-header">
    <h2>List stock</h2>

  </div>
  <div class="card-body">

    <table class="table table-striped">
      <thead>
      <tr>
        <th> id</th>


        <th> quantityStocke</th>
        <th> Magasin_libelle</th>
        <th> Produit_libelle</th>



      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let stock of stocks" >
        <td>{{ stock.id }}  </td>

        <td>{{ stock.quantityStocke }}  </td>
        <td >

          {{ stock.magasin.libelle }}

        </td>
        <td> {{ stock.produit.libelle }} </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
